<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add Item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function displayMessage(errorMessage) {
            console.log("Message is --> "+errorMessage.errorMessage);
            return errorMessage.errorMessage;
        }
    </script>
</head>
<body>
    <h4>Add Item</h4>
    <p id="displayAnyMessage"></p>
        <div align="center">
            <form action="#" th:action="@{/home/map-product}" th:object="${product}" method="post">
                <table style="width: 80%;" border="1px solid black">
                    <tr>
                        <td>ID</td>
                        <td><input type="text" th:field="*{id}" name="productId"></td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td><input type="text" th:field="*{name}" name="productName"></td>
                    </tr>
                </table>
                <button type="submit">Add</button>
            </form>
        </div>
    <a href="/home/list-products">Back to List</a>
    <script th:inline="javascript">
        //sample where javascript can be adopted within body method.
        //innerHTML can be accessed after web page loaded all the html elements.
        let anymessage = /*[[${errorMessage}]]*/ {};
        // alert(anymessage);
        if(anymessage != null) {
            document.getElementById("displayAnyMessage").innerHTML = displayMessage(anymessage);
        }
    </script>
</body>
</html>