<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update Item</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h4>Update Item</h4>
<p id="displayAnyMessage"></p>
<div align="center">
    <form action="#" th:action="@{/home/update-product}" th:object="${product}" method="GET">
        <table style="width: 80%;" border="1px solid black">
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}" name="productId" id="productId" disabled></td>
            </tr>
            <tr>
                <td>Product Name</td>
                <td><input type="text" th:field="*{name}" name="productName" id="productName"></td>
            </tr>
        </table>
    </form>
    <button type="submit" onclick="myScript()">Update</button>
</div>
<a href="/home/list-products">Back to List</a>
    <script>
        function myScript() {
            var id = document.getElementById("productId").value;
            var name = document.getElementById("productName").value;
            console.log("id -> "+id+" name -> "+name);

            if(name == 'undefined' || name == '' || name == null) {
                document.getElementById("displayAnyMessage").innerHTML="Product Name is Mandatory";
                return false;
            }
            var prefix = '/home';

            $.ajax({
                type:'POST',
                url:prefix+'/update-product/'+id+'/'+name,
                success:function(response) {
                    console.log(response);
                    document.open();
                    document.write(response);
                    document.close();
                }
            });
        };
    </script>
</body>
</html>