<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"/>
    <link href="/css/styles.css" rel="stylesheet" />
    <title>View Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
            $(document).ready(function(){
                $.getJSON("http://localhost:9009/products/", function(result){
                    const tableBody = document.getElementById('myTableBody');
                    for(const product in result) {
                        const row = document.createElement('tr');
                        const propIndexdCell = document.createElement('td');
                        const propNameCell = document.createElement('td');
                        const propValueCell = document.createElement('td');
                        const buttonCell = document.createElement('td');
                        const buttonDelete = document.createElement('button');
                        buttonDelete.textContent = "DELETE";
                        buttonDelete.onclick = function () {
                            myDeleteFunction(result[product].id);
                        };
                        buttonCell.appendChild(buttonDelete);

                        propIndexdCell.textContent = product;
                        propNameCell.textContent = result[product].id;
                        propValueCell.textContent = result[product].name;
                        row.id = result[product].id;
                        row.appendChild(propIndexdCell);
                        row.appendChild(propNameCell);
                        row.appendChild(propValueCell);
                        row.appendChild(buttonCell);

                        tableBody.append(row);
                    }
                });
            });
        </script>
</head>

<body>
    <h4>View Products</h4>
    <div align="center">
        <table style="width: 80%;" border="1px solid black">
            <thead>
                <tr>
                    <th>Product No</th>
                    <th>Property</th>
                    <th>Value</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="myTableBody"></tbody>
        </table>
    </div>
    <script>
        function myDeleteFunction(id) {
            var prefix = '/home';
            console.log("Location href --> "+location.href);
<!--          Another example to delete row-->
<!--            var row = document.getElementById(id);-->
<!--            row.parentElement.removeChild(row);-->

            $.ajax({
                type:'DELETE',
                url:prefix+'/delete-product/'+id,
                success:function(response) {
                    console.log(response);
                    document.open();
                    document.write(response);
                    document.close();
                }
            });
        };
        //javascript function call spring boot rest api
        //https://www.geeksforgeeks.org/ways-to-make-an-api-call-in-javascript/
    </script>
    <a href="/home/save-product">Add Item</a>
</body>
</html>